body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  background-color: #000024;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip, .info-box {
  background-color: rgb(43, 43, 43)!important;
  color:#ffffff99!important;
}

.popup {
  margin: 0; padding: 0 0 5px; line-height: 1.2;
}

.popup h1 {
  font-size: 14px;
}

.popup p{
  margin: 0!important; line-height: 1.5;
}

.info-box {
  padding: 1em 2em;
  border-radius: 10px;
  width: 20vw;
}
.info-box p{
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.info-box small:first-child {
  margin: 0.5em 0 0 0;
}

.info-box small{
  margin: 0;
  padding: 0; 
  line-height: 1.5; 
  width: 100%;
}

#total {
  position: fixed;
  left:1em;
  bottom:1em;
  z-index: 400;
  width: 300px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); 
}

#total p{
  display: flex;
  align-items: center;
  flex-direction: row;
}

#total b{
  width: 100%;
  padding-right: 1em;
}

#total span {
  font-size: 22px;
}

#total small{
  font-style: italic;
  font-size: 11px;
  text-align: justify;
}

@media screen and (max-width:600px){
  #total {
    left:0;
    right: 0;
    margin: auto;
    width: 75%;
  }
  #total span {
    font-size: 18px;
  }
  #total p{
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  #total b{
    width: 100%;
  }
}


.leaflet-bar a, .leaflet-bar a:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: rgb(43, 43, 43)!important; 
  color:#ffffff99!important;
}

.leaflet-bar a:first-child {
  border-bottom: 1px solid black!important;
}

a {
  color: grey;
  text-decoration: none;
}

a:visited {
  color: grey;
}

#gh {
  z-index: 400;
  position: fixed;
  right: 0;
  top:0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 100px 0;
  border-color: transparent rgb(65, 65, 65) transparent transparent;
  color:#ffffff99!important;
}

#gh p{
  margin: 0;
}

#gh img {
  width: 35px;
  position: fixed;
  right: 10px;
  top:10px;
  filter: invert(1);
}