body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.leaflet-container {
  height: 600px;
  width: 100%;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip, .info-box {
  background-color: rgb(43, 43, 43)!important;
  color:#ffffff99!important;
}

.info-box {
  padding: 1em 2em;
  position: fixed;
  left:1em;
  bottom:1em;
  z-index: 400;
  border-radius: 0.5em;
  width: 20vw;
}
.info-box p{
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

#total {
  width: 40vw;
  max-width: 275px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); 
}

#total p{
  display: flex;
  align-items: center;
  flex-direction: row;
}

#total b{
  width: 60%;
  padding-right: 1em;
}

#total span {
  font-size: 22px;
  text-align: right;
}

@media screen and (max-width:600px){
  #total p{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  #total b{
    width: 100%;
  }
}


.leaflet-bar a, .leaflet-bar a:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: rgb(43, 43, 43)!important; 
  color:#ffffff99!important;
}

.leaflet-bar a:first-child {
  border-bottom: 1px solid black!important;
}

a {
  color: grey;
  text-decoration: none;
}

a:visited {
  color: grey;
}

small {
  font-size: 11px;
}