body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-color: rgb(85, 85, 85);
  color:white;
  background-image: none;
  font-weight: 500;
  letter-spacing: 0.2px;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */

select {
  flex: 1;
  color: #fff;
  cursor: pointer;
  padding: 6px 32px 6px 16px;
  font-size: 16px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus, textarea:focus, input:focus {
          font-size: 16px;
      }
}

.select {
  display: none;
}

.App {
  text-align: center;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  background-color: #000024;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip, .info-box, #attributions {
  background-color: #2b2b2b!important;
  color:#ffffff99!important;
}

.leaflet-control-attribution {
  display: none;
}

.popup {
  margin: 0; padding: 0 0 5px; line-height: 1.2;
}

.popup h1 {
  font-size: 14px;
}

.popup p{
  margin: 0!important; line-height: 1.5;
}

.info-box {
  padding: 1em 2em;
  border-radius: 10px;
  width: 20vw;
  z-index: 401;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); 
}
.info-box p{
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.info-box small:first-child {
  margin: 0.5em 0 0 0;
}

.info-box small{
  margin: 0;
  padding: 0; 
  line-height: 1.5; 
  width: 100%;
}

#choices_desktop {
  position: fixed;
  top:1em;
  left:0;
  right: 0;
  margin: auto;
  padding: 0;
  line-height: 1;
  width: fit-content;
  background: transparent;
}

#choices_desktop ul {
  list-style-type: none;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#choices_desktop ul li {
  padding: 8px 12px;
  margin: 3px;
  background-color: rgb(43, 43, 43);
  font-size: 13px;
  min-width: 65px;
  text-align: center;
  cursor: pointer;
}

#choices_desktop ul li{
  border-radius: 8px;
}

#choices_desktop ul li.active {
  background-color: rgb(85, 85, 85);
  color:white;
}

#total {
  position: fixed;
  left:2em;
  bottom:2em;
  z-index: 401;
  width: 300px;
}

#total p{
  display: flex;
  align-items: center;
  flex-direction: row;
}

#total b{
  width: 100%;
  padding-right: 1em;
}

#total span {
  font-size: 22px;
}

#total small{
  font-style: italic;
  font-size: 11px;
  text-align: justify;
}

@media screen and (max-width:600px){
  #choices_desktop {
    display: none;
  }
  .select {
    position: relative;
    display: flex;
    align-items:center;
    width: 100%;
    overflow: hidden;
    padding-top : 2em;
  }

  .select:before {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    background: dimgrey;
    top: 15px;
    margin: 0px;
    border-radius: 10px;
  }

  .select label {
    font-size: 14px;
  }
  
  #select {
    display: flex;
    align-items: center;
    display: flex;
    margin-left: auto;
  }
  
  .select svg {
    position: absolute;
    right: 0.5em;
    pointer-events: none;
  }
  #total {
    left:0;
    right: 0;
    margin: auto;
    width: 70%;
    bottom:3em;
  }
  #total span {
    font-size: 18px;
  }
  #total p{
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  #total b{
    width: 100%;
  }
}


.leaflet-bar a, .leaflet-bar a:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: rgb(43, 43, 43)!important; 
  color:#ffffff99!important;
}

.leaflet-bar a:first-child {
  border-bottom: 1px solid black!important;
}

a {
  color: grey;
  text-decoration: none;
}

a:visited {
  color: grey;
}

#gh {
  position: fixed;
  right: 0;
  top:0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 100px 0;
  border-color: transparent rgb(43, 43, 43) transparent transparent;
  color:#ffffff99!important;
  z-index: 400;
}

#gh p{
  margin: 0;
}

#gh img {
  width: 35px;
  position: fixed;
  right: 10px;
  top:10px;
  filter: invert(1);
}

#attributions {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 10px;
  padding: 3.5px 7.5px;
  z-index: 400;
}